html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.chat {
  display: flex;
}

.people {
  width: 30%;
}

/* may end up wanting to do a container here and dump the li's */
.messages ul {
  height: 80vh;
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
}

.messages li {
  list-style: none;
  padding: 0.25em;
  margin-top: 0.5em;
  border-width: 0.1em;
  border-style: solid;
  border-color: cornflowerblue;
  border-radius: 0.5em;
}

.messages form {
  position: fixed;
  bottom: 0;
  height: 7vh;
}
