html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.chat {
  display: flex;
}

.people {
  width: 30%;
}

.messages li {
  list-style: none;
  padding: 0.25em;
  margin-top: 0.5em;
  border-width: 0.1em;
  border-style: solid;
  border-color: cornflowerblue;
  border-radius: 0.5em;
}
